<div class='row'>
    <div class='large-4 medium-3 columns hidden-for-small-only'>
    <br>

      <p>
      <% if @candidate.cand_image_url %>
        <%= image_tag @candidate.cand_image_url %>
      <% else %>
        <%= profile_image_for@candidate %></p>
      <% end %>
      
      <div class="list-group">
         <% if  @candidate.resume_url %>
          <%= link_to "Résumé", @candidate.resume_url, :target => "_blank", class: "list-group-item active" if @candidate.resume_url  %>
        <% else %>
          <%= link_to "Upload Résumé", profile_info_path+"#resume", class: "list-group-item active" if current_candidate?(@candidate) %>
        <% end %>
        
        
        
        <%= link_to "Personal Website", @candidate.portfolio_url, target: "_blank", class: "list-group-item" if @candidate.portfolio_url  %>
        <%= link_to "Blog/PortFolio", @candidate.projects_link, target: "_blank", class: "list-group-item" if @candidate.projects_link  %>
        <%= link_to "Linkedin", "http://linkedin.com/in/" + @candidate.linkedin_url, target: "_blank", class: "list-group-item" if @candidate.linkedin_url %>
        <%= link_to "Twitter", "http://twitter.com/" + @candidate.twitter_url, target: "_blank", class: "list-group-item" if @candidate.twitter_url %>
        <%= link_to "Github", "http://github.com/" + @candidate.github_url, target: "_blank", class: "list-group-item" if @candidate.github_url %>
        <%= link_to "Facebook", "http://facebook.com/" + @candidate.facebook_url, target: "_blank", class: "list-group-item" if @candidate.facebook_url %>
        <%= link_to "Dribbble", "http://dribbble.com/" + @candidate.dribbble_url, target: "_blank", class: "list-group-item" if @candidate.dribbble_url %>
        <a href="#" class="list-group-item"><%= @candidate.linkedin_url %></a>
      </div>
    </div>
    <div class='large-8 medium-8 small-12 columns edit-works'>

      <div class='edit-form well'>
        <h2 class='text-center'>Update your Job Experience at <%= @work.company %></h2>
        <%= form_for([@candidate, @work]) do |f| %>
          <%= render "shared/errors", object: @work %>
          <div class="row">
            <div class='medium-6 columns'>
              <div class='form-group'>
                <%= f.text_field :company, class: 'form-control', placeholder: 'Company Name' %>
              </div>
            </div>
            <div class='medium-6 columns'>
              <div class='form-group'>
                <%= f.text_field :position, class: 'form-control', placeholder: 'Position' %>
              </div>
            </div>
          </div>
          <div class="row">
                <div class='medium-2 small-3 columns'>
              <div class='form-group'>
                <%= f.select :start_month, Work::START_MONTH, prompt: "MON", class: "form-control" %>
                <%#= f.text_field :start_month, class: 'form-control', placeholder: 'Mon' %>
              </div>
            </div>
            <div class='medium-2 small-3 columns'>
              <div class='form-group'>
                <%= f.select :start_year, Work::START_YEAR, prompt: "YEAR", class: "form-control" %>
              </div>
            </div>
            <div class='medium-1 small-1 columns text-center'> — </div>
            <div class='medium-2 small-3 columns'>
              <div class='form-group'>
                <%= f.select :end_month, Work::END_MONTH, prompt: "MON", class: "form-control" %>
              </div>
            </div>
            <div class='medium-2 small-3 columns'>
              <div class='form-group'>
                <%= f.select :end_year, Work::END_YEAR, prompt: "YEAR", class: "form-control" %>
              </div>
            </div>
            <div class='medium-3 small-3 columns'>
              <div class='form-group'>
                       <%= f.select :status, Work::STATUS, prompt: "Job Status", class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            
            <div class='medium-12 columns text-center'>
              <div class='form-group'>
                <%= f.text_area :description, cols: 40, rows: 7, class: 'form-control', placeholder: 'Summary' %>
              </div>
            </div>
          </div>

          <div class="row">
            
            <div class='medium-10 columns text-center'>
              <div class='form-group'>
                <%= f.submit "ADD", class: 'success hollow button' %>
              </div>
            </div>
          </div>
          

        <% end %>
      </div>
    </div>
    <div class='large-1 columns'></div>
  </div>