
    <a href="#" data-reveal-id="jobapplication" class="radius success button">Apply for this Job&hellip;</a>

<!-- Reveal Modals begin -->
    <div id="jobapplication" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
      <% if @job.email? %>
        <div class="job-apply">
          <h3><%= @job.title %> - <%= @job.city %>, <%= @job.state %>&nbsp; <%= @job.zip_code %> &nbsp;<%= @job.country %></h3><hr>
          <% if current_candidate %>
            
            <%= form_for [@job, @apply] do |f| %>
              <div class="form-group">
                <h4><%= f.label :name %></h4>
                <%= f.text_field :name, value: "#{current_candidate.name}", class: "form-control" 
                 %>
              </div>
              <div class="form-group">
                <h4><%= f.label :email %></h4>
                <%= f.text_field :email, value: "#{current_candidate.email}", class: "form-control"  %>
              </div>
              <div class="form-group">
                <% if current_candidate.phone_number %>
                  <h4><%= f.label :phone %></h4>
                  <%= f.text_field :phone, class: "form-control", value: "#{current_candidate.phone_number}" %>
                <% else %>
                  <h4><%= f.label :phone %></h4>
                  <%= f.text_field :phone, class: "form-control", placeholder: "(123) 456-7890"  %>
                <% end %>
              </div>
              
              <div class="form-group">
                <h4><%= f.label :message, "Cover Letter" %></h4>
                <%= f.text_area :message, class: "form-control", value: "Dear Hiring Manager,  I feel that my skills and experience are a great fit for this position. Please feel free to contact me to arrange an interview. I look forward to learning more about this opportunity.", cols: 40, rows: 5 %>
              </div>
              <div class="form-group">
                <% if current_candidate.resume_url %>
                  <h2 class='right'><%= link_to "resume.pdf", current_candidate.resume_url, :target => "_blank" %></h2>
                  <%#= f.label :resume, "Upload New Resume" %>
                  <%#= f.file_field :resume, class: "form-control" %>
                <% else %>
                  <%= f.label :resume, "Upload Resume" %>
                  <%= f.file_field :resume, class: "form-control" %>
                <% end %>
              </div><br>
              <div class="form-group">
                <%= f.submit "Submit Application", class: 'success button' %>
              </div>
            <% end %>
          <% else %>
            <%= form_for [@job, @apply] do |f| %>
              <div class="form-group">
              <h4><%= f.label :name %></h4>
              <%= f.text_field :name, class: "form-control", placeholder: "Your name"  %>
              </div>
              <div class="form-group">
                <h4><%= f.label :email %></h4>
                <%= f.text_field :email, class: "form-control", placeholder: "name@company.com"  %>
              </div>
              <div class="form-group">
                <h4><%= f.label :phone %></h4>
                <%= f.text_field :phone, class: "form-control", placeholder: "(123) 456-7890"  %>
              </div>
              <div class="form-group">
                <h4><%= f.label :message, "Cover Letter" %></h4>
                <%= f.text_area :message, class: "form-control", value: "Dear Hiring Manager,  I feel that my skills and experience are a great fit for this position. Please feel free to contact me to arrange an interview. I look forward to learning more about this opportunity.", cols: 40, rows: 5 %>
              </div>
              <div class="form-group">
                <%= f.label :resume, "Upload Resume" %>
                <%= f.file_field :resume, class: "form-control"  %>
              </div>
              <div class="form-group">
                <%= f.submit "Submit Application", class: ' success hollow button' %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %> 
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
