 <%# @jobs.each do |job| %>
      <div class='small-12 columns job-listing'>
        <div class='row'>
          <div class='large-2 medium-4 columns'>
            <div class='hidden-for-small-only job-logo'>
              <% if job.logo_url %>
                <%= image_tag job.logo_url %>
              
                <%# elsif job.company_name = @company.name %>
                  <%#= image_tag @company.logo_url %>
              
              <% else %>
                <%= image_tag "https://s3.amazonaws.com/inventivelabs/jobinbox/logos/jobinbox1.png" %>
              <% end %>
            </div>
          </div>
          <div class='large-5 medium-8 small-12 columns'>
            <h4><%= link_to job.title, job %></h4>
            <h5><%= job.company_name %></h5>
            <%= truncate(job.description, length: 100, separator: ' ') %>
            <%#= link_to "View full job details", job %>
          </div>
          <div class='large-5 medium-8 small-12 columns'>
            <div class='row'><br>
              <div class='medium-6 small-12 columns'>
                <%= job.position_type %><br>
                <%= time_ago_in_words(job.created_at) %> ago
              </div>
              <div class='medium-6 small-12 columns'>
               <%= job.city %>, <%= job.state %> <br> <%= job.zip_code %> <%= job.country %>
              </div>
              <div class='job-button'>
                <%= link_to "Apply for this Job", job, class: 'small success button' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# end %>