<div class='row'>
  <div class='new-job'>
    <div class='medium-9 small-12 columns job-form'>
      <h1>Post a Job</h1><hr>
      <%= render 'form' %>
    </div>  
  </div>
  <div class='hide-for-small-only medium-3 columns job-new-aside'>
    <h2>New trends</h2>
    <% @jobs.each do |job| %>
      <div id='candidate-all-job'>
        <h3><%= link_to job.title, job %></h3>
        <span><%= job.company_name %></span><br>
        <span><%= job.city if job.city %>, &nbsp; <%= job.state if job.state %> &nbsp; <%= job.zip_code if job.zip_code  %></span>
      </div> 
    <% end %> 
  </div>
</div>