<div class='row'>
  <div class='medium-10 medium-centered columns job-searh-form'>
    <%= form_tag search_jobs_path, method: :get do %> 
      <div class="row collapse"> 
        <div class="small-9 columns">
          <%= text_field_tag :search, params[:search], placeholder: "Search for your next career jobs..." %>
        </div>
        <div class="small-3 columns">
          <%= submit_tag 'Job Search', name: nil, class: "warning button postfix " %>
        </div>   
      </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='medium-8 columns jobs-list'>
    <h1>Search Result</h1><hr>               
    <% @jobs.each do |job| %>
      <div class='small-12 columns job-listing'>
        <div class='row'>
          <div class='medium-2 small-4 columns '>

            <% if job.logo_url %>
              <%= image_tag job.logo_url %>
            
              <%# elsif job.company_name = @company.name %>
                <%#= image_tag @company.logo_url %>
            
            <% else %>
              <%= image_tag "https://s3.amazonaws.com/inventivelabs/jobinbox/logos/jobinbox1.png" %>
            <% end %>
          </div>
          <div class='medium-6 small-8 columns'>
            <h4><%= link_to job.title, job %></h4>
            <h5><%= job.company_name %></h5>
            <%= truncate job.description, length: 100, separator: ' ' %><br>
            <%= link_to "View full job description", job %>
          </div>
          <div class='medium-2 small-5 columns'>
            <%= job.position_type %><br>
            <%= time_ago_in_words(job.created_at) %> ago
          </div>
          <div class='medium-2 small-7 columns'>
           <%= job.city %>, <%= job.state %> <br> <%= job.zip_code %> <%= job.country %>
          </div> 
        </div>
      </div>
    <% end %>
  </div>
     
  <div class='hidden-for-small medium-4 columns'><br><br>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- MasmaSpace News -->
    <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-1207389406711656"
       data-ad-slot="8952579198"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
    