<% title @job.title %>
<% meta_description truncate(@job.description.gsub(/(<[^>]+>)/, ''), length: 150) %>
<div class="row">
  <div class="medium-8 small-12 columns">
    <div class="job-top-title">
      <div class="row">
        <div class="medium-2 small-3 columns">
          <% if @job.logo %>
            <%= image_tag @job.logo_url %>
          <% else %>
            <%= image_tag "https://s3.amazonaws.com/inventivelabs/jobsmat/images/jobmat-icon1.png" %>
          <% end %>
        </div>
        <div class="medium-10 small-9 columns">
          <div class="row">
            <div class="small-12 columns">
              <h2><%= @job.title %></h2>
            </div>
            <div class="medium-8 small-12 columns">
              
              <p><span><%= @job.company_name %></span><br>
              <%= @job.city if @job.city %>, <%= @job.state if @job.state %>&nbsp; <%= @job.zip_code if @job.zip_code %>&nbsp; <%= @job.country if @job.country %><br> Posted <%= time_ago_in_words(@job.created_at) %> ago
              </p>
            </div>
            <div class="medium-4 small-12 columns">
              <% if !@job.email? %>
                <%= link_to "Apply on Career Site", @job.url, :target => "_blank", class: "success expanded button" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="job-body">
      <h3>Job Description</h3>
      <% if @job.position_type %>
        <h5>Job Type: <%= @job.position_type %> </h5>
      <% end %>
      <%# if @job.salary %>
     <!--  <h5>Salary: <%#= number_to_currency(@job.salary) %>&nbsp; <%#= @job.pay_rate %></h5> -->
      <%# else %>
      <!-- <h5>Salary: Not Specified</h5> -->
      <%# end %>

      <%= @job.description.html_safe %><br>

      <% if @job.responsibility %>
        <h3>Responsibilities</h3>
        <%= @job.responsibility.html_safe %>
      <% end %>

      <% if @job.skills %>
        <h3>Job Requirements/Skills</h3>
        <%= @job.skills.html_safe %>
      <% end %>

      <% if (@job.position_type || @job.industry || @job.experience || @job.travel_required) %>
        <h2>JOB SNAPSHOT</h2>
      <% end %>
      <% if @job.position_type %>
        <h4>Employment Type: <%= @job.position_type %></h4>
      <% end %>
      
      <% if @job.industry %>
        <h4>Industry: <%= @job.industry %></h4>
      <% end %>
      <% if @job.experience %>
        <h4>Experience: <%= @job.experience %></h4>
      <% end %>

      <% if @job.travel_required %>
        <h4>Require travel: <%= @job.travel_required %></h4>
      <% end %>
    </div>

    <div class="job-company-details">
      <h2>About <%= @job.company_name %></h2>
      <span><%= link_to @job.website_url, @job.website_url, :target => "_blank" %></span><br>
        <p><%= @job.company_description %></p>
    </div>
  
    <% if current_employer_admin? %>
      <div class="job-update">
        <%= link_to "Edit", edit_job_path(@job), class: 'success button' %>
        <%= link_to "Delete", job_path(@job), method: :delete, data: {confirm: 'Are you sure?' }, class: 'alert button' %>
      </div>
    <% end %>
  </div>


  
  <div class="medium-4 small-12 columns job-application">
    <% if @job.email? %>
      <div class='jobsmat '>
        <h4> Apply Now <span>»»»</span></h4>
        <p>Please review all application instructions before applying to <%= @job.company_name %>.</p>
        <div><%= render 'application' %></div>
      </div>
    <% end %> 
    <%#= render 'apply' %>

    <div class="hidden-for-small-only job-ads">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- MasmaSpace News -->
      <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:600px"
         data-ad-client="ca-pub-1207389406711656"
         data-ad-slot="8952579198"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

    </div><br><br>
     
    
  </div>
</div>
  
