<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p>A new candidate has applied for the position as <%= link_to @job.title, @job %> through our platform http://jobsmat.com</p> 
  <p>Here are the details of the candidate</p>
  <blockquote>
    <em><b>Name:<b> <%= @apply.name %></em><br>
    <em><b>Email:<b> <%= @apply.email %></em><br>
    <% if @apply.phone %>
      <em><b>Phone:<b> <%= @apply.phone %></em><br>
    <% end %>
    <% if @apply.message %>
      <em><b>Message:<b> <%= @apply.message %></em><br>
    <% end %>
    <em><b>Resume:<b><a href="<%= @apply.resume_url %>">View resume.pdf</a></em>
  </blockquote>
</body>
</html>
