<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      body{
        font-size: 14px;
        a{
          color: #43ac6a;
        }
      }
      header{
        img{
          width: 100%; height: 110px;
        }
      }
      .main{
        width: 95%;
        border: 1px solid #ddd;
        margin-top: 12px;
        padding: 10px;
      }
      .update{
        color: #43ac6a;
        font-weight: 600;
      }
      h4{
        font-size: 14px;
        margin-top: 10px;
      }
      .title{
        font-weight: 600;

      }
      footer{
        background-color: #43ac6a;
        color: #fff;
        padding: 15px;
        text-align: center;
      }
      
    </style>
  </head>
  <body>
    <header>
      <img src="https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/jobsmat-email-logo.png" style="width: 100%; height: 110px;">
    </header>
    <div class='main'>
      <h4>Hello Employer/Recruiter</h4>
      
      <p>A new candidate has applied for the position as <%= link_to @job.title, @job %> through our <a href="http://jobsmat.com">platform</a></p> 
      <p>Here are the details of the candidate</p>
      <blockquote>
        <em><b>Name:</b>&nbsp; <%= @apply.name %></em><br>
        <em><b>Email:</b>&nbsp; <%= @apply.email %></em><br>
        <% if @apply.phone %>
          <em><b>Phone:</b>&nbsp; <%= @apply.phone %></em><br>
        <% end %>
        <% if @apply.message %>
          <em><b>Message:</b>&nbsp; <%= @apply.message %></em><br>
        <% end %>
        <em><b>Resume:&nbsp;</b><a href="<%= @apply.resume_url %>">Resume.pdf</a></em>
      </blockquote>
      
      <span class='update'>Contact JobsMat</span>
      <p>
        If you have any questions please use our <a href="http://www.jobsmat.com/contact">contact form</a> to get in touch. We will get back to you as soon as possible.
      </p>

      <b>The JobsMat Team</b><br>
      <a href="mailto:support@jobsmat.com">support@jobsmat.com</a><br>
      <a href="http://www.jobsmat.com">www.jobsmat.com</a>
    </div>
    <footer>
      <span>     
        © 2016 <a href="http://www.jobsMat.com">Jobsmat.com</a>
      </span>
    </footer>
  </body>
</html>


