<div class='row'>
  <div class='medium-12 columns company'>
    <div class='company-bgimage'>
      <% if @company.company_image_url %>
        <%= image_tag @company.company_image_url %>
      <% else %>
      <% end %>
    </div>
    <div class='row'>
      <div class='medium-12 columns company-logo'>
        <% if @company.logo_url %>
          <%= image_tag @company.logo_url %>
        <% else %>
        <% end %>
        <span><%= @company.name %></span>
      </div>
      <div class='medium-12 columns company-info'>
        <div class='row'>
          <div class='large-7 medium-12 small-12 columns'>
            <table>
              <thead>
                <tr>
                  <th>
                    <div class='interview-rating text-center'>
                      <%= " " %><br><%= link_to @company.name, company_path(@company) %>
                    </div>
                    </th>
                  <% if @reviews.blank? %>
                  <% else %>
                    <th class= "hide-for-small-only">
                      <div class='review-star'>
                        <div class="star-rating" data-score= <%= @avg_rating %> ></div> 
                      </div>
                    </th> 
                  <% end %>        
                  <th>
                    <div class='interview-rating text-center'>
                      <%= " " %><br><%= link_to "Jobs", company_job_path(@company) %>   
                    </div>
                  </th>
                  <th>
                    <div class='review-rating text-center'>
                      <% if @reviewss.length == 1 %>
                        <%= "#{@reviewss.length} " %><br><%= link_to "Review", company_review_path(@company)%>
                      <% else %>
                        <%= "#{@reviewss.length} " %><br><%= link_to "Reviews", company_review_path(@company)%>
                      <% end %>
                    </div>
                  </th> 
                  <th>
                    <div class='interview-rating text-center'>
                      <% if @interviewss.length == 1 %>
                        <%= "#{@interviewss.length} " %><br><%= link_to "Interview", company_interview_path(@company) %>
                      <% else %>
                        <%= "#{@interviewss.length} " %><br><%= link_to "Interviews", company_interview_path(@company) %>
                      <% end %>
                    </div>
                  </th>
                  <th>
                    <div class='interview-rating text-center'>
                      <% if @followers.length == 1 %>
                        <%= @followers.length %><br> Follower
                      <%#= pluralize(@followers.size, "follower") %>
                      <% else %>
                        <%= @followers.length %><br> Followers
                      <% end %>
                    </div>
                  </th>
                </tr>
              </thead>
            </table> 
          </div>
          <div class='large-5 medium-12 small-12 company-button-header columns'>
            <% if current_candidate %>
              <% if @current_follow %>
                <span class=" small secondary button"><%= link_to " Unfollow", company_follow_path(@company, @current_follow), method: :delete, style: "color:green;font-weight:bold;" %></span>&nbsp;&nbsp; 
              <% else %>
                <span class=" small secondary button"><%= link_to " Follow Us", company_follows_path(@company), style: "color:green;font-weight:bold;" %></span>&nbsp;&nbsp;
              <% end %>
            <% end %>
            <% if current_employer || current_candidate %>
              <span class=" small success button fa fa-plus"><%= link_to "  Add Review", company_addreview_path(@company) %></span>&nbsp;&nbsp;
              <span class=" small warning button fa fa-briefcase "><%= link_to "  Add Interview", company_addinterview_path(@company) %></span>&nbsp;&nbsp;
            <% else %>
              <%= link_to 'Signin to Add-Review', signin_path, class: 'small success button right' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "companies/myshare/script" %>

