<% @reviews.limit(1).each do |r| %>
<div class="row">
    <div class='medium-10 small-9 columns'>Company Review</div>
    <div class='medium-2 small-3 columns'>
      <%= r.created_at.strftime("%-m/%-d/%y") %>
    </div><br><br>
    <div class='small-12 columns'>
      <div class='row review-subhead'>
        <div class='medium-2 small-3 columns'>
          <%= image_tag @company.logo_url, style: "width:60px;height:65px;" %>
        </div>
        <div class='medium-10 small-9 columns review-rating'>
          <h3><%= r.title %></h3>
          <div class='star-rating' data-score= <%= r.rating %> ></div><br>
          <span><%= r.employee_type %> | Work at <%= @company.name %> on <%= r.employee_status %></span><br>
        </div>
      </div><br>
      <div class='small-12 columns'>
        <p><span>Pros</span><br><%= h(r.pros).gsub(/\n/, '<br/>').html_safe %></p>
        <p><span>Cons</span><br><%= h(r.cons).gsub(/\n/, '<br/>').html_safe %></p>
        <p><span>Advice</span><br><%= h(r.advice).gsub(/\n/, '<br/>').html_safe %></p>
        <% if @reviewss.length == 1 %>
        <% else %>
          <%= link_to" See all #{@reviewss.length} Reviews", companies_review_path(@company) %>
        <% end %><br>
        <% if current_employer_admin? %>
        <%# if (r.user == current_user) || (current_user.admin?)%>
          <%= link_to "Edit", edit_company_review_path(@company, r) %> | 
          <%= link_to "Delete", company_review_path(@company, r), method: :delete, data: { confirm: 'Are you sure?' }%>
        <% end %><br>

      </div>
    </div>
  </div><br>
<% end %>