<div class='home'>
  <div class='home-head'>
    <div class="fade">
      <% @companies.limit(30).each do |company| %>  
        <div>
          <span>
            <%# if company.company_image_url %>
              <%= image_tag company.company_image_url alt: company.name %>
            <%# end %>
            <span class='medium-8 medium-offset-2 columns contents'>
              <h1 class="hide-for-small hide-for-medium">Find Your Dream Job Today!</h1>
              <p class="hide-for-small-only">Search and find the job that's right for you.</p>
              <div class="medium-10 medium-offset-1 small-12 columns">
                <%= form_tag search_jobs_path, method: :get do %> 
                  <div class="row collapse"> 
                    <div class="small-9 columns">
                      <%= text_field_tag :search, params[:search], placeholder: "Search for your next career jobs..." %>
                    </div>
                    <div class="small-3 columns">
                      <%= submit_tag 'Job Search', name: nil, class: "warning button postfix " %>
                    </div>   
                  </div>
                <% end %>
              </div>
            </span>
            <span class='content hide-for-small hide-for-medium'>
              <%# if company.logo_url %>
                <%= image_tag company.logo_url, alt: company.name %>
              <%# end %>
              <span> 
                <h4><%= link_to company.name, company %></h4>
                <p><%= company.industry %></p>
              </span>
            </span> 
            <span class='content-medium center show-for-medium-only'>
              <%= image_tag company.logo_url, alt: company.name %>
              <span> 
                <h4><%= link_to company.name, company %></h4>
              </span>
            </span> 
          </span> 
          <button type="button" class="slick-prev">Previous</button>
        </div>
      <% end %>
    </div> 
  </div>

  <div class='home-top'>
    <div class='row'>
       <h2 class='text-center'>Appy for the job that's right for you.</h2><br>
      <div class='large-4 medium-6 columns'>
        <div class='row'>
          <div class='large-3 medium-3 small-3 columns'>
            <img src="https://s3.amazonaws.com/inventivelabs/jobinbox/imgs/profile1.png"> 
          </div>
          <div class='large-9 medium-9 small-9 columns'>
            <h3 class='text-left'>Create eye catching Profile</h3>
            <p>Upload your resume, add personality to your page with your profile photo. Express youself about what you are looking for and what you have done, add links to your projects. </p>
          </div>
        </div>
      </div>

      <div class='large-4 medium-6 columns'>
        <div class='row'>
          <div class='large-3 medium-3 small-3 columns'>
            <img src="https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/icon1.png"> 
          </div>
          <div class='large-9 medium-9 small-9 columns'>
            <h3 class='text-left'>Search and find your dream Job</h3>
            <p>Search and explore thousands of latest jobs posted by recruiters and employers nationwide.</p>  
          </div>
        </div>
      </div>

      <div class='large-4 medium-12 columns'>
        <div class='row'>
          <div class='large-3 medium-2 small-3 columns'>
            <img src="https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/icon.png"> 
          </div>
          <div class='large-9 medium-10 small-9 columns'>
            <h3 class='text-left'>Read Reviews from Employees</h3>
            <p>Get to know more about your future employer and company work ethics and cultures. Read what real employers have to say about them.</p> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='home-main'>      
    <div class='home-responsive'>
      <h2 class='text-center'>Companies on JobsMat</h2>
      <div class="responsive">
        
        <% @companies.order("created_at ASC").each do |company| %>  
          <div>
            <%= link_to (image_tag company.logo), company, alt: company.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>  

  
  <aside class='home-background'>
    <div class='row'>
      <% if current_candidate %>
        <div class='large-9 medium-8 columns'>
          <h2>Update your profile</h2>
          <p>Employers will find and contact you for a job opportunity without even applying.</p>        
        </div>
        <div class='large-3 medium-4 columns left'>
          <%= link_to "#{current_candidate.name}! Update Your Profile", profile_info_path(current_candidate), class: 'success button' %>  
        </div>
      <% elsif current_employer %>
        <div class='large-9 medium-8 columns'>
          <h2>Hire your next great job-seeker</h2>
          <p>Connect and post your job in less than 5 minutes for free.</p>
        </div>
        <div class='large-3 medium-4 columns left'>
          <%= link_to "Post a Job", jobs_add_path, class: 'alert button radius' %>
        </div>
      <% else %>
        <div class='large-9 medium-8 columns'>
          <h2>Register and add your resume</h2>
          <p>Employers will find and contact you for a job that matches your resume without even applying. </p>  
        </div>
        <div class='large-3 medium-4 columns left'>
          <%= link_to "Upload Your Resume", signin_path, class: 'warning button' %>
        </div>
      <% end %>
    </div>
  </aside>

  <div class="home-test">
    <div class="row">
      <h2 class='text-center'>What are our users saying?</h2>
      <div class='medium-4 medium columns'>
        <p>Jobsmat gives me an instant view of my open opportunities. I have an interview as a result of being found by an employer through my profile on Jobsmat. I really like the idea behind this great website.”
        </p>
        <p>Esther Michael <br> Port Harcourt, Nigeria</p>


      </div>
      
      <div class='medium-4 medium columns'>
        <p>Jobsmat connected me to my dream job at a fast-growing Real-Estate company in Abuja. The whole experience was effortless and it was great to speak directly with great companies. Easy-to-use, and time-saving resource for any job seeker." </p>
        <p>Abiodun Odulowo <br> Lagos, Nigeria</p>
      </div>

      <div class='medium-4 medium columns'>
        <p>"I haven't found a single problem, disadvantage, or reason not to use this site to recruit. Our search for a great talent proved to be extremely difficult. JobsMat had more great candidates than anywhere else we looked. Thanks for this handy tool." </p>
        <p>Emmanuel A. <br>Admin Manager at Motech</p>
      </div>
    </div>
  </div>

  <div class='home-tips-scroll'>
    <div class='row'>
      <div class="small-12 columns">
       <h2 class='text-center'><i class='fa fa-file'></i> Latest Insights</h2><br>
        <div class='autoplay'>
          <% @tips.each do |tip| %>
            <% if tip.logo_url %>
              <div>
                <%= link_to (image_tag tip.logo_url), tip %>
                <h3 class='tips-scroll-h hide-for-small'><%= link_to tip.title, tip %></h3>
                
              </div> 
            <% end %>
          <% end %> 
        </div>
      </div>
    </div>
  </div>

  <div class='home-bottom'>
    <div class='row'>
      <div class='medium-12 columns'>
        <h2 class='text-center'>New trends nationwide</h2>
        <% @jobs.limit(12).each do |job| %>
          <% if job %>
            <div class='hide-for-small large-3 medium-4 columns'>
              <h3><%= link_to job.title, job %></h3>
                <p><span><%= job.company_name %><br></span><%= job.city if job.city %>,&nbsp;<%= job.state if job.state %></p>
            </div>
          <% end %>
        <% end %>
        <% @jobs.limit(4).each do |job| %>
          <% if job %>
            <div class='hide-for-medium-up small-6 columns'>
              <h3><%= link_to job.title, job %></h3>
                <p><span><%= job.company_name %><br></span><%= job.city if job.city %>,&nbsp;<%= job.state if job.state %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      $('.fade').slick({
        dots: true,
        infinite: true,
        arrows: true,
        speed: 1000,
        fade: true,
        swipe: true,
        autoplay: true,
        autoplaySpeed: 5000,
        cssEase: 'linear'
        
      });

      $('.autoplay').slick({
        infinite: true,
        arrows: true,
        swipe: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        cssEase: 'linear'
      });

      $('.responsive').slick({
        dots: true,
        infinite: false,
        arrows: true,
        speed: 500,
        slidesToShow: 7,
        slidesToScroll: 7,
        responsive: [
          {
            breakpoint: 990,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 4,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 800,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          }
        ]
      });
    });
  
  </script>
  <!-- https://s3.amazonaws.com/inventivelabs/jobinbox/imgs/profile.png
  https://s3.amazonaws.com/inventivelabs/jobinbox/imgs/search.png
  https://s3.amazonaws.com/inventivelabs/jobinbox/imgs/profile1.png
  -->