<div class='contact-main-top'>
  <div class="row jobsmat">
    <div class='contact-headline'>
      <h2 class=' text-center'>Get Support</h2>
      <h4>Have a question about JobsMat, don't hesitate to contact us,use the form below and drop us a note or give us a call(080)  5046 2452 (6am-6pm daily). We'd love to hear from you and answer all your questions.</h4>
    </div><br>
    <div class='medium-8 small-12 columns contact-contact'>
      <div class="panel">
        <h2 class="panel-title text-center">Contact us for questions or comments.</h2>
        <%= form_for @contact do |f| %>
          <div class="row collapse">
            <div class="small-3 medium-2 columns">
              <span class="prefix"><i class='fa fa-user'></i></span>
            </div>
            <div class="small-9 medium-10 columns">
              <%= f.text_field :name, class: 'form-control', placeholder: 'Adekunle Okechukwu' %>
            </div>
          </div>

          <div class="row collapse">
            <div class="small-3 medium-2 columns">
              <span class="prefix"><i class='fa fa-envelope'></i></span>
            </div>
            <div class="small-9 medium-10 columns">
              <%= f.text_field :email, class: 'form-control', placeholder: 'yourname@company.com' %>
            </div>
          </div>

          <div class="row collapse">
            <div class="small-3 medium-2 columns">
              <span class="prefix"><i class='fa fa-link'></i></span>
            </div>
            <div class="small-9 medium-10 columns">
              <%= f.text_field :subject, class: 'form-control', placeholder: 'Subject' %>
            </div>
          </div>

          <div class="row collapse">
            <div class="small-12 medium-12 columns">
              <%= f.text_area :messages, class: 'form-control', cols: 40, rows: 7, placeholder: 'Message' %>
            </div>
          </div>

          <div class='form-group'>
            <%= f.submit 'Send Your Message', class: 'success hollow button' %>   
          </div>
        <% end %>

      </div>
    </div>

    <div class="medium-4 small-12 columns hidden-xs">
      <div class="address-contact">
        <h3>Connect With Us</h3>
        <span class='social-link facebook'>
          <a href="https://www.facebook.com/jobsmatdotcom" target="_blank"><i class="fa fa-facebook fa-2x"></i></a> 
        </span>

        <span class='social-link twitter'>
          <a href="https://twitter.com/jobsmatdotcom" target="_blank"><i class="fa fa-twitter fa-2x"></i></a> 
        </span>

        <span class='social-link linkedin'>
          <a href="https://www.linkedin.com/company/inventtive/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a> 
        </span><br><br>
    
        <!-- <h3 class='office'>JobsMat</h3>
        <span>
          <i class='fa fa-map-marker'></i>&nbsp; 21, Matadi Street, <br>
          &nbsp;&nbsp;&nbsp;Zone 3, Abuja 23409
        </span><br><br> -->
        <span><i class='fa fa-phone'></i>&nbsp;080 5046 2452</span><br>
        <a href="mailto:info@jobsmat.com"><i class='fa fa-envelope'></i>&nbsp;info@jobsmat.com</a><br>
        <a href="mailto:support@jobsmat.com"><i class='fa fa-envelope'></i>&nbsp;support@jobsmat.com</a>
      </div>
    </div>

  </div>
</div>

<div class='contact-map hidden-xs'>
  <div id='map'>
    <iframe
      
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9C6EQog9vhhMKUOtl4Y8EsbNKv1BApPQ
        &q=21+Matadi+Street,Zone 3,Abuja+23409&zoom=14" allowfullscreen>
    </iframe>
  </div>
</div>