<div class='row'><br>

  <% if @candidates.any? %>
    <% @candidates.in_groups_of(4) do |group| %>
      <div class='row'>
        <% group.each do |candidate| %>
          <% if candidate %>
            <div class='large-3 medium-4 small-6 columns'>
            <div class='row'>
            <div class='medium-4 small-5 columns'>
                <% if candidate.cand_image_url %>
                  <%= image_tag candidate.cand_image_url, class: "clearing-thumbs data-clearing"  %>
                <% else %>
                    <%= profile_image_for candidate, class: "clearing-thumbs data-clearing" %></p>
                <% end %>
            </div>
            <div class='medium-8 small-7 colums'>
                <h4><%= link_to candidate.name, candidate %></h4>
                <h5><%= candidate.email %></h5>
                <h5><%= candidate.city %></h5>
              </div>
            </div><br>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
