 <%= form_for (@company) do |f| %>
    <%= render "shared/errors", object: @company %>
        <div class='form-group'>
          <div class='row'>
            <div class='small-6 columns'>
              <%= f.label :logo, "Company Logo", class: 'control-label' %>
              <%= f.file_field :logo %>
            </div>
            <div class='small-6 columns'>
              <%= f.label :company_image, "Company Image", class: 'control-label' %>
              <%= f.file_field :company_image %>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <div class='row'>
            <div class='small-6 columns'>
              <%= f.label :industry, class: 'control-label' %>
              <%= f.select :industry, Company::INDUSTRY, prompt: "Select one", class: "form-control" %>
            </div>
            <div class='small-6 columns'>
              <%= f.label :size, class: 'control-label' %>
              <%= f.select :size, Company::SIZE, prompt: "Select one", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <div class='row'>
           <div class='medium-6 columns'>
              <%= f.label :name, "Company Name" %>
              <%= f.text_field :name, size: 50, autofocus: true, placeholder: "Company Name" %>
            </div>
            <div class='medium-6 columns'>
              <%= f.label :website, "Company Website", class: 'control-label' %>
              <%= f.text_field :website, placeholder: "http://companyname.com" %>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <div class='row'>
           <div class='medium-6 columns'>
              <%= f.label :founded %>
              <%= f.text_field :founded, class: "form-control" %>
            </div>
            <div class='medium-6 columns'>
              <%= f.label :location, class: 'control-label' %>
              <%= f.text_field :location, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class='row'>
           <div class='medium-8 columns'>
            <%= f.label :subsidiaries, class: 'control-label' %>
            <%= f.text_field :subsidiaries, class: "form-control" %>
          </div>

          <div class="medium-4 columns">
              <%= f.label :video, class: 'control-label' %>
              <%= f.text_field :video, class: "form-control" %>
          </div>
        </div>
      </div>

        <div class='form-group'>
          <div class='row'>
            <div class='medium-12 columns'>
              <%= f.label :about, class: 'control-label' %>
              <%= f.text_area :about, cols: 30, rows: 7,placeholder: "Brief description about your company, what you are up to, service and product", :class => 'ckeditor' %>
            </div>
          </div>
        </div><br>

        <div class='form-group'>
          <div class='row'>
           <div class='medium-6 columns'>
              <%= f.label :facebook %>
              <%= f.text_field :facebook, class: "form-control" %>
            </div>
            <div class='medium-6 columns'>
              <%= f.label :twitter, class: 'control-label' %>
              <%= f.text_field :twitter, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <div class='row'>
           <div class='medium-6 columns'>
              <%= f.label :youtube %>
              <%= f.text_field :youtube, class: "form-control" %>
            </div>
            <div class='medium-6 columns'>
              <%= f.label :linkedin, class: 'control-label' %>
              <%= f.text_field :linkedin, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <div class='row'>
           <div class='medium-6 columns'>
              <%= f.label :pinterest %>
              <%= f.text_field :pinterest, class: "form-control" %>
            </div>
            <div class='medium-6 columns'>
              <%= f.label :github, class: 'control-label' %>
              <%= f.text_field :github, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <div class='row'>
           <div class='medium-6 columns'>
              <%= f.label :instagram %>
              <%= f.text_field :instagram, class: "form-control" %>
            </div>
            <div class='medium-6 columns'>
              <%= f.label :googleplus, class: 'control-label' %>
              <%= f.text_field :googleplus, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <div class='row'>
           <div class='medium-4 small-6 columns'>
              <%= f.label :twitter_username %>
              <%= f.text_field :twitter_username, placeholder: "Enter Your Username" %>
            </div>
            <div class='medium-4 small-6 columns'>
              <%= f.label :facebook_username %>
              <%= f.text_field :facebook_username, placeholder: "Enter Your Username" %>
            </div>
            <div class='medium-4 small-12 columns'>
              <%= f.label :twitter_widget_id %>
              <%= f.text_field :twitter_widget_id, placeholder: "Add Your ID" %>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <div class='row'>
            <div class='medium-12 columns'>
            <%= f.label :twitter_widget, class: 'control-label' %>
            <%= f.text_area :twitter_widget, cols: 30, rows: 7, placeholder: "Add Your Code" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <% if @company.new_record? %>
            <%= f.submit "Add Company", class: "small success button" %>
          <% else %>
            <%= f.submit "Update Company", class: "small success button" %>
          <% end %>
        </div>
  <% end %>