<div class='company-head'>
  <%= render partial: "companies/myshare/main" %>
</div>

<div class='companies-top'>
  <div class='jumbotron'>
    <div class='row'>
      <div class='text-left'>
        <h2 class='text-center'>Companies Reviews and Interview Tips</h2><br>
        <div class='medium-4 columns'>
          <div class='row'>
            <div class='medium-3 small-2 columns'>
              <img src="https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/icon3.png"> 
            </div>
            <div class='medium-9 small-10 columns'>
              <h4>Search for your favorite company</h4>
              <p>Search and find for any company. Get to know about the culture and work ethics. </p>
            </div>
          </div>
        </div>
        <div class='medium-4 columns'>
          <div class='row'>
            <div class='medium-3 small-2 columns'>
              <img src="https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/icon4.png"> 
            </div>
            <div class='medium-9 small-10 columns'>
              <h4>Read Company Reviews</h4>
              <p>Read what real employees have to say about any company.</p>
            </div>
          </div>
        </div>
        <div class='medium-4 columns'>
          <div class='row'>
            <div class='medium-3 small-2 columns'>
              <img src="https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/icon5.png"> 
            </div>
            <div class='medium-9 small-10 columns'>
              <h4>Company Interview Process</h4>
              <p>Check out interview process written by past and present employees at your favorite companies. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='companies-middle'>
  <div class='jumbotron'>
    <div class='jobsmatt'>
      <div class='row '>
        <div class='small-12 small-centered columns'>
          <h2 class='text-center'>Featured Companies</h2>
          <%# @companies.in_groups_of(3) do |group| %>
            <div class='row'>
              <% @companies.limit(9).each do |company| %>
                <div class='large-11 large-centered columns'>
                  <div class='show-for-large-only large-4 columns'>
                    <div class='row'>
                      <div class='medium-5 small-5 columns company-feature'><br>
                        <%= image_tag company.logo_url if company.logo_url %>
                      </div>
                      <div class='medium-7 small-7 columns company-name'>
                        <h4><%= link_to company.name, company %></h4>
                        <div class='review-rating'>
                          <%= "#{company.reviews.length} Reviews" %> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <% @companies.limit(6).each do |company| %>
                <div class='medium-11 medium-centered columns'>
                  <div class='show-for-medium-only medium-4 columns'>
                    <div class='row'>
                      <div class='medium-5 small-5 columns company-feature'><br>
                        <%= image_tag company.logo_url if company.logo_url %>
                      </div>
                      <div class='medium-7 small-7 columns company-name'>
                        <h4><%= link_to company.name, company %></h4>
                        <div class='review-rating'>
                          <%= "#{company.reviews.length} Reviews" %> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <% @companies.limit(3).each do |company| %>
                <div class='show-for-small-only columns'>
                  <div class='row'>
                    <div class='medium-5 small-5 columns company-feature'><br>
                      <%= image_tag company.logo_url if company.logo_url %>
                    </div>
                    <div class='medium-7 small-7 columns company-name'>
                      <h4><%= link_to company.name, company %></h4>
                      <div class='review-rating'>
                        <%= "#{company.reviews.length} Reviews" %> 
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <%# end %>
          <%#= will_paginate @companies, renderer: BootstrapPagination::Rails %>
            
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "companies/myshare/script" %>