<% title @company.name %>
<% meta_description truncate(@company.about.gsub(/(<[^>]+>)/, ''), length: 350) %>

<div class='company-show'>
  <%= render "companies/myshare/header" %>

  <div class='medium-12 columns company-main'>
     <div class='row'>
      <div class='medium-8 columns'>
        <div class='row'>
          <div class='medium-12 columns company-main-top company'>
            <h3><%= @company.name %> Overview</h3>
            <div class='medium-6 columns'>
              <div class='row'>
                <div class='medium-12 columns'>
                  <div class='row'>
                    <div class='medium-4 small-6 columns'>
                      <span>Website</span>
                    </div>
                    <div class='medium-8 small-6 columns'>
                      <%= link_to @company.website, @company.website %>
                    </div>
                  </div>
                  <div class='row'>
                    <% if @company.size %>
                      <div class='medium-4 small-6 columns'>
                        <span>Size</span>
                      </div>
                      <div class='medium-8 small-6 columns'>
                        <%= @company.size %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class='medium-6 columns'>
              <div class='row'>
                <div class='medium-12 columns'>
                  <div class='row'>
                    <% if @company.industry %>
                      <div class='medium-4 small-6 columns'>
                        <span>Industry</span>
                      </div>
                      <div class='medium-8 small-6 columns'>
                        <%= @company.industry%>
                      </div>
                    <% end %>
                  </div>
                  <div class='row'>
                    <% if @company.founded %>
                      <div class='medium-4 small-6 columns'>
                        <span>Founded</span>
                      </div>
                      <div class='medium-8 small-6 columns'>
                        <%= @company.founded %>
                      </div>
                    <% end %>
                  </div>
                  <div class='row'>
                    <% if @company.location %>
                      <div class='medium-4 small-6 columns'>
                        <span>Headquarters</span>
                      </div>
                      <div class='medium-8 small-6 columns'>
                        <%= @company.location %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='medium-12 columns company-main-nav company'>
            <%= render partial: "companies/myshare/company_about" %>
          </div>

          <div>
            <% if @reviews.blank? %>
            <% else %>
              <%= render partial: "companies/myshare/showReview" %>
            <% end %>
          </div>

        </div>
      </div>

      <div class='medium-4 columns company-aside'>
        <% if @jobbs.any? %>
          <div class='hide-for-small-only medium-12 columns company'><br>
            <h4>Jobs at <%= @company.name %></h4>
            <section class='company-aside-job'>
              <% @jobbs.each do |job| %>
                <% if (job.company_name == @company.name) || (job.website_url == @company.website) %>
                  <div class='row'>
                    <div class='medium-4 small-3 columns'>
                      <%= image_tag @company.logo_url, style: "width:50px;height:50px;" if @company.logo_url %>
                    </div>
                    <div class='medium-8 small-9 columns'>
                      <h2><%= link_to job.title, job %></h2>
                      <%= job.city if job.city %>,&nbsp;<%= job.state if job.state %>

                    </div>
                  </div>
                <% end %><br>
              <% end %>
            </section>
          </div>
        <% else %>
        <% end %>
        <div><br><br>
          <%= render partial: "companies/myshare/aside" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "companies/myshare/script" %>
