<div class='company-show'>
  <%= render "companies/myshare/header" %>
  
  <div class='medium-12 columns company-main'>
     <div class='row'>
      <div class='medium-8 columns'>
        <div class='row'>
          <div class='medium-12 columns company-main-top company'>
            <h3><%= @company.name %> Overview</h3>
            <div class='medium-6 columns'>
              <div class='row'>
                <div class='medium-4 small-6 columns'>
                  <span>Website</span>
                </div>
                <div class='medium-8 small-6 columns'>
                  <%= link_to @company.website, @company.website %>
                </div>
              </div> 
              <div class='row'> 
                <div class='medium-4 small-6 columns'>
                  <span>Size</span>
                </div>
                <div class='medium-8 small-6 columns'>
                  <%= @company.size %>
                </div>
              </div>
            </div>
            <div class='medium-6 columns'>
               <div class='row'>
                <div class='medium-4 small-6 columns'>
                  <span>Industry</span>
                </div>
                <div class='medium-8 small-6 columns'>
                  <%= @company.industry%>
                </div>
              </div>
               <div class='row'>
                <div class='medium-4 small-6 columns'>
                  <span>Founded</span>
                </div>
                <div class='medium-8 small-6 columns'>
                  <%= @company.founded %>
                </div>
              </div>
              <div class='row'>
                <div class='medium-4 small-6 columns'>
                  <span>Headquarters</span>
                </div>
                <div class='medium-8 small-6 columns'>
                  <%= @company.location %>
                </div>
              </div>
            </div>
            <div class="company-about"><br>
              <p><%= truncate(@company.about, length: 400, seperate: "...") %></p>
            </div>  
          </div>

          <div class='medium-12 columns company-main-nav company'>
            <%= render partial: "companies/myshare/company_about" %>
          </div>
          <% if @company.jobs %>
            <div class='medium-12 columns company-main-job company'>
              <%= render partial: "companies/myshare/company_jobs" %>
            </div>
          <% end %>
        </div>
      </div>
      
      <div class='medium-4 columns company-aside'>
        <%= render partial: "companies/myshare/aside" %>
      </div>
    </div>
  </div>
</div>
             
<%= render partial: "companies/myshare/script" %>


