<div class='employer-show'>
  <div class='row'>
    <div class='medium-9 small-12 columns'>
      <% if @employer.emp_image_url %>
        <div class='hidden-for-small-only employer-background'>
          <%= image_tag @employer.emp_image_url %>
        </div>
      <% end %>
      <div class='row'>
        <div class='medium-3 small-12 columns'>
          <% if @employer.logo %>
            <div class='hidden-for-small-only employer-logo'>
              <%= image_tag @employer.logo_url  %>
            </div>
          <% end %>

          <div class=' employer-nav'>
            <div class='hidden-for-small-only edit-table'> 
              <table>
                <thead>
                  <% if @employer.website_url %>
                  <tr>
                    <th style= "width=100%">
                      <i class='fa fa-briefcase'></i>
                      <%= link_to "Company URL", @employer.website_url, target: "_blank" %>
                    
                    <% end %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% if @employer.linkedin %> 
                    <tr>
                      <td><i class='fa fa-linkedin'></i><%= link_to "Linkedin", "http://linkedin.com/in/" + @employer.linkedin, target: "_blank" %></td>
                    </tr>
                  <% end %>
                  <% if @employer.twitter %>
                    <tr>
                      <td><i class='fa fa-twitter'></i><%= link_to "Twitter", "http://twitter.com/" + @employer.twitter, target: "_blank" %></td>
                    </tr>
                  <% end %>
                  <% if @employer.instagram %>
                    <tr>
                      <td><i class='fa fa-instagram'></i><%= link_to "instagram", "http://instagram.com/" + @employer.instagram, target: "_blank" %></td>
                    </tr>
                  <% end %>
                  <% if @employer.facebook %>
                    <tr>
                      <td><i class='fa fa-facebook'></i><%= link_to "Facebook", "http://facebook.com/" + @employer.facebook, target: "_blank" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class='small-12 columns hidden-for-medium-up employer-nav'>
            <div class='edit-table'>
              <table>
                <thead>
                  <tr>
                    <th style= "width=100%">
                    <% if @employer.website_url %>
                      <%= link_to "Company Website", @employer.website_url, target: "_blank" %>
                    <% end %>
                    </th>         
                    <% if @employer.linkedin %> 
                      <th><%= link_to "Linkedin", "http://linkedin.com/in/" + @employer.linkedin, target: "_blank" %>
                      </th> 
                    <% end %>
                    <% if @employer.twitter %> 
                      <th><%= link_to "Twitter", "http://twitter.com/" + @employer.twitter, target: "_blank" %>
                      </th>
                    <% end %>
                    <% if @employer.instagram %> 
                      <th><%= link_to "instagram", "http://instagram.com/" + @employer.instagram, target: "_blank" %>
                      </th>  
                    <% end %>
                    <% if @employer.facebook %> 
                      <th><%= link_to "Facebook", "http://facebook.com/" + @employer.facebook, target: "_blank" %>
                      </th> 
                    <% end %>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <div class='medium-9 small-12 columns'>
          <div class='employer-content'>
            <h1><%= @employer.company_name if @employer.company_name%></h1>
            <h2><%= @employer.headlines if @employer.headlines%></h2>
            <div class='row'>
              <p class='large-5 medium-12 small-12 columns'>
                <i class='fa fa-map-marker'></i><%= @employer.location if @employer.location %><br>
                <i class='fa fa-phone'></i><%= @employer.phone_number if @employer.phone_number %><br>
                <i class='fa fa-link'></i><%= link_to @employer.website_url, @employer.website_url, target: "_blank" if @employer.website_url  %>
              </p>

              <p class='large-7 medium-12 small-12 columns company-info'>
                Industry:<span><%= @employer.industry if @employer.industry%></span><br>Company Size:<span><%= @employer.company_size if @employer.company_size%></span><br>
                Employer/Recruiter Name:<span><%= @employer.name %></span><br>
                Skype Username:<span><%= @employer.skype_id %></span>
              </p>
            </div>
          </div>
          
          <% if @employer.jobs.any? %>
            <div class='employer-job'>
              <h3 class='text-center'>Jobs @<%= @employer.company_name %></h3>
              <% @jobs.each do |job| %>
                <% if job %>
                  <div class='row'>
                    <div class='medium-12 employer-jobs'>
                       <h2><%= link_to job.title, job %></h2>
                       <p><%= job.city if job.city %> &nbsp; <%= job.state if job.state %> &nbsp; <%= job.zip_code if job.zip_code  %></p>
                       <p><%= truncate(job.description, length: 180, separator: ' ') %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
                <%#= will_paginate @jobs, renderer: BootstrapPagination::Rails, class: 'text-center' %> 
            </div>
          <% end %>   
        </div>
      </div>
    </div>
    <div class='medium-3 small-12 columns'>
      <% if @employer.company_description %>
        <div class='employer-about'>
          <h2>About</h2>
          <p><%= @employer.company_description %></p>
        </div>
      <% end %>


      <% Job.all.order('created_at DESC').limit(7).each do |job| %>
        <% if job %>
          <div class='employers-latest-job'>
            <h2>Latest Jobs</h2><hr>
            <h3><%= link_to job.title, job %></h3><br>
            <p><%= job.city if job.city %> &nbsp; <%= job.state if job.state %> &nbsp; <%= job.zip_code if job.zip_code  %></p>
          </div>
        <% end %>
      <% end %>   
    </div>
  </div>
</div>


