<%= form_for([@company, @review]) do |f| %>
<%= render "shared/errors", object: @review %>
  <aside><%= image_tag @company.logo_url, style: "width:50px;height:50px;float:left;" if @company.logo_url %>
    <div class='text-center' id="star-rating"></div>
  </aside>
  <br>
  <div class='form-group'> 
    <%= f.label :company_name, "Company Name" %>
    <%= f.text_field :company_name, value: "#{@company.name}" %>
  </div>
  <div id="star-rating"></div>
  <div class='row'>
    <div class='medium-5 columns'>
      <%= f.label :employee_status, "Employment Status" %>
      <%= f.select :employee_status, Review::EMPLOYEE_STATUS, prompt: "Select", class: "form-control" %>
    </div>
    <div class='medium-7 columns'>
      <%= f.label :employee_type, "Are you a current or former employee?" %>
      <%= f.select :employee_type, Review::EMPLOYEE_TYPE, prompt: "Select", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, "Review Title" %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :pros %>
    <%= f.text_area :pros %>
  </div>
  <div class="form-group">
    <%= f.label :cons %>
    <%= f.text_area :cons %>
  </div>
  <div class="form-group">
    <%= f.label :advice %>
    <%= f.text_area :advice %>
  </div>
  
  <div class="form-group">
    <%= f.submit class: 'success button' %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: 'https://s3.amazonaws.com/foodplace/uploads/stars',
    scoreName: 'review[rating]'
  });
</script>

