<%= form_for([@company, @review]) do |f| %>
<%= render "shared/errors", object: @review %>
  <div class='text-center' id="star-rating"></div>
  
    <div class='form-group'>
      <%#= image_tag @company.logo_url, style: "width:70px;height:70px;" %>
    <div id="star-rating"></div>
    <%#= f.text_area name: "#{@company.name}", class: "form-control" %>
  </div><br>
  <div class="form-group">
    <%= f.label :title, "Review Title" %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :pros %>
    <%= f.text_area :pros %>
  </div>
  <div class="form-group">
    <%= f.label :cons %>
    <%= f.text_area :cons %>
  </div>
  <div class="form-group">
    <%= f.label :advice %>
    <%= f.text_area :advice %>
  </div>
  
  <div class="form-group">
    <%= f.submit class: 'success button' %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: 'https://s3.amazonaws.com/foodplace/uploads/stars',
    scoreName: 'review[rating]'
  });
</script>

