<div class='row tips'>
  <div class='medium-8 columns tips-listing'>
    <div class='medium-12 columns tip-listing'>
      <% @tips.each do |tip| %>
        <% if @tips %>
          <div class="jobsmat">
            <div class='row'>
              <div class='medium-4 small-12 columns'>
                <% if tip.logo_url %>
                  <%= image_tag tip.logo_url %>
                <% else %>
                <%= image_tag "https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/jobsmat2.jpg" %>
                <% end %>
              </div>
              <div class='medium-8 small-12 columns'>
                <h2 class='tip-content'><%= link_to tip.title, tip %></h2>
                <p><%= truncate(tip.content, length: 250, seperate: "") %></p>
                <p><%#= link_to tip.source_url, tip.source_url %></p>
               </div>
            </div>
          </div>
        <% end %>
        
      <% end %>
    </div>
  </div>
  <div class='medium-4 hide-for-small columns tips-listing-side'>
    <% if @jobs %>
      <div class='jobsmat'>
        <h2>Recent Jobs</h2>
        <% @jobs.each do |job| %>
          <h3><%= link_to job.title, job %></h3>
          <p><%= job.company_name %></p>
        <% end %>
      </div>
    <% end %>
    <div class='jobsmat'>
      <p>I really knew I was rich when I had $10,000. I knew a long time ago that I was going to be doing something I loved doing with people that I loved doing it with. In 1958, I had my dad take me out of the will, as I knew I would be rich anyway. I let my two sisters have all the estate.
      </p>
    </div>
  </div>
</div>

