<div class='row tips'>
  <div class='tips-ad'>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Ms-Jobs1 -->
    <ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-1207389406711656"
     data-ad-slot="3136327086"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class='medium-8 columns tips-listing'>
    <div class='medium-12 columns tip-listing'>
       <% @tips.each do |tip| %>
        <% if tip %>
          <div class="jobsmat">
            <div class='row'>
              <div class='medium-4 small-12 columns'>
                <% if tip.logo_url %>
                  <%= image_tag tip.logo_url %>
                <% else %>
                <%= image_tag "https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/jobsmat2.jpg" %>
                <% end %>
              </div>
              <div class='medium-8 small-12 columns'>
                <h2 class='tip-content'><%= link_to tip.title, tip %></h2>
                <p><%= truncate(tip.content.gsub(/(<[^>]+>)/, ''), length: 250) %>
                <%#= truncate_html(tip.content, length: 250, seperate: "") %></p>
                <p><%#= link_to tip.source_url, tip.source_url %></p>
               </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="jobsmat text-center">
        <%= will_paginate @tips, renderer: BootstrapPagination::Rails, class: 'text-center' %> 
      </div>
    </div>  
  </div>

  <div class='medium-4 hide-for-small columns tips-listing-side'>
    <% if @jobs %>
      <div class='jobsmat'>
        <h2>Recent Jobs</h2>
        <% @jobs.each do |job| %>
          <h3><%= link_to job.title, job %></h3>
          <p><%= job.company_name %></p>
        <% end %>
      </div>
    <% end %>
    
    <div class='jobsmat'>
      <div class='row company-on-tips'>
        <h2>Recently Added Company</h2>
        <% @companies.limit(6).each do |company| %>
         <% if company.logo_url %>
            <div class='large-4 medium-6 columns'>
              <%= link_to(image_tag(company.logo_url), company) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div><br>
    <div class="hidden-for-small-only job-ads">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- MasmaSpace News -->
      <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:600px"
         data-ad-client="ca-pub-1207389406711656"
         data-ad-slot="8952579198"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>

