<footer>
  <div class='footer'>
    <div class='row'>
      <div class='medium-3 columns small-6 columns'>
        <h2>Support</h2>
        <span>
            <i class='fa fa-map-marker'></i> 21, Matadi Street, 
            Zone 3, Wuse, Abuja-FCT 23409
          </span><br>
          <p><i class='fa fa-phone'></i>+234 805 046 2452</p>
          <a href="mailto:info@jobsmat.com"><i class='fa fa-envelope'></i>info@jobsmat.com</a><br>
          <a href="mailto:support@jobsmat.com"><i class='fa fa-envelope'></i>support@jobsmat.com</a>
          
      </div>
      <div class='medium-3 columnss small-6 columns'>
        <h2>About</h2>
        <p><%= link_to "Home", root_path %></p>
          <p><%= link_to "About Us", about_path %></p>
          <p><%= link_to "Faq", faq_path %></p>
          <p><%= link_to "Terms", terms_path %></p>
          <p><%= link_to "Contact Us", root_path %></p>
      </div>
      <div class='medium-3 columns small-6 columns'>
        <h2>Discover</h2>
        <p><%= link_to "Home", root_path %></p>
          <p><%= link_to "About Us", about_path %></p>
          <p><%= link_to "Faq", faq_path %></p>
          <p><%= link_to "Terms", terms_path %></p>
          <p><%= link_to "Contact Us", root_path %></p>
      </div>
      <div class='medium-3 columns small-6 columns'>
        <h2>Insight</h2>
        <p><%= link_to "Home", root_path %></p>
          <p><%= link_to "About Us", about_path %></p>
          <p><%= link_to "Faq", faq_path %></p>
          <p><%= link_to "Terms", terms_path %></p>
          <p><%= link_to "Contact Us", root_path %></p>
      </div>
    </div>
  </div>
  <div class='bottom'>
    <div class='text-center'>
       <p>Copyright &copy; 2015 Jobsmat.com. All rights reserved</p>
        <span>Made with <i class='fa fa-heart'></i> at <a href='http://inventivelabs.co' target='_blank'>Inventive Labs, LLC</a></span>
    </div>
  </div>
</footer>