<footer>
  <div class='footer'>
    <div class='row'>
      <div class='hide-for-medium hide-for-small'>
        <div class='medium-3 columns small-6 columns'>
          <h4>Support</h4>
          <span>
              <!-- <i class='fa fa-map-marker'></i> 21, Matadi Street, 
              Zone 3, Wuse, Abuja-FCT 23409
            </span><br> -->
            <p><i class='fa fa-phone'></i>+234 805 046 2452</p>
            <a href="mailto:info@jobsmat.com"><i class='fa fa-envelope'></i>info@jobsmat.com</a><br>
            <a href="mailto:support@jobsmat.com"><i class='fa fa-envelope'></i>support@jobsmat.com</a>
            
        </div>
        <div class='medium-3 columnss small-6 columns'>
          <h4>About</h4>
          <p><%= link_to "Home", root_path %></p>
          <p><%= link_to "About Us", about_path %></p>
          <p><%= link_to "Privacy", faq_path %></p>
          <p><%= link_to "Terms", terms_path %></p>
          <p><%= link_to "Contact Us", contact_path %></p>
        </div>
        <div class='medium-3 columns small-6 columns'>
          <h4>Discover</h4>
          <p><%= link_to "Jobs", jobs_path %></p>
          <p><%= link_to "Companies", companies_path %></p>
          <p><%= link_to "Tips & Insights", tips_path %></p>
          <% if current_candidate %>
            <p><%= link_to "Post Resume", profile_info_path(current_candidate) %></p>
            <p><%= link_to "Applicants", candidates_path %></p>
          <% elsif current_employer %> 
            <p><%= link_to "Post a Job", jobs_add_path %></p>
            <p><%= link_to "Applicants", candidates_path %></p>
          <% else %>
            <p><%= link_to "Sign In", signin_path %></p>
            <p><%= link_to "Register", register_path %></p>
          <% end %>
        </div>
        <div class='medium-3 columns small-6 columns'>
          <h4>Career Tips & news</h4>
            <% Tip.all.order("created_at DESC").limit(2).each do |tip| %>
              <div class='careers-footer'>
                <%= link_to tip.title, tip %><br>
                <span class='text-right'><%= time_ago_in_words(tip.created_at) %> ago</span>
              </div>
              
             <!-- <hr> -->
            <% end %> 
        </div>
      </div>

      <div class='hide-for-large-up medium-10 medium-offset-1 columns'>
        <div class='row'>
          <ul class="accordion" data-accordion>
          <li class="accordion-navigation medium-12 columns">
            <a href="#support">Support <i class='fa fa-phone'></i></a>
            <div id="support" class="content active">
              <p><i class='fa fa-phone'></i>+234 805 046 2452</p>
              <a href="mailto:info@jobsmat.com"><i class='fa fa-envelope'></i>info@jobsmat.com</a><br>
              <a href="mailto:support@jobsmat.com"><i class='fa fa-envelope'></i>support@jobsmat.com</a>
            </div>
          </li>
          <li class="accordion-navigation medium-12 columns">
            <a href="#about-us">About Us <i class='fa fa-users'></i></a>
            <div id="about-us" class="content">
              <p><%= link_to "Home", root_path %></p>
              <p><%= link_to "About Us", about_path %></p>
              <p><%= link_to "Privacy", faq_path %></p>
              <p><%= link_to "Terms", terms_path %></p>
              <p><%= link_to "Contact Us", contact_path %></p>
            </div>
          </li>
          <li class="accordion-navigation medium-12 columns">
            <a href="#discover">Discover <i class='fa fa-briefcase'></i></a>
            <div id="discover" class="content">
              <p><%= link_to "Jobs", jobs_path %></p>
              <p><%= link_to "Companies", companies_path %></p>
              <p><%= link_to "Tips & Insights", tips_path %></p>
              <% if current_candidate %>
                <p><%= link_to "Post Resume", profile_info_path(current_candidate) %></p>
                <p><%= link_to "Applicants", candidates_path %></p>
              <% elsif current_employer %> 
                <p><%= link_to "Post a Job", jobs_add_path %></p>
                <p><%= link_to "Applicants", candidates_path %></p>
              <% else %>
                <p><%= link_to "Sign In", signin_path %></p>
                <p><%= link_to "Register", register_path %></p>
              <% end %>
            </div>
          </li>
          <li class="accordion-navigation medium-12 columns">
            <a href="#career-tips">Career Tips and News <i class='fa fa-file'></i></a>
            <div id="career-tips" class="content">
              <% Tip.all.order("created_at DESC").limit(2).each do |tip| %>
                <%= link_to tip.title, tip %><br>
                <span class='text-right'><%= time_ago_in_words(tip.created_at) %> ago</span>
                <hr>
              <% end %> 
            </div>
          </li>
        </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class='bottom'>
    <div class='text-center'>
       <p>Copyright &copy; 2015 Jobsmat.com. All rights reserved</p>
        <span>Made with <i class='fa fa-heart'></i> at <a href='http://inventivelabs.co' target='_blank'>Inventive Labs, LLC</a></span>
    </div>
  </div>
</footer>