<footer>
  <div class='footer'>
    <div class='row'>
      <div class='medium-3 columns small-6 columns'>
        <h2>Support</h2>
        <span>
            <i class='fa fa-map-marker'></i>&nbsp; 600, Congress Avenue, <br>
            &nbsp;&nbsp;&nbsp;Austin, TX 78701
          </span><br><br>
          <p><i class='fa fa-phone'></i>&nbsp;1 512-999-0018</p>
          <a href="mailto:info@job-inbox.com"><i class='fa fa-envelope'></i>&nbsp;info@job-inbox.com</a><br>
          <a href="mailto:support@job-inbox.com"><i class='fa fa-envelope'></i>&nbsp;support@job-inbox.com</a>
          
      </div>
      <div class='medium-3 columnss small-6 columns'>
        <h2>About</h2>
        <p><%= link_to "Home", root_path %></p>
          <p><%= link_to "About Us", about_path %></p>
          <p><%= link_to "Faq", faq_path %></p>
          <p><%= link_to "Terms", terms_path %></p>
          <p><%= link_to "Contact Us", root_path %></p>
      </div>
      <div class='medium-3 columns small-6 columns'>
        <h2>Discover</h2>
        <p><%= link_to "Home", root_path %></p>
          <p><%= link_to "About Us", about_path %></p>
          <p><%= link_to "Faq", faq_path %></p>
          <p><%= link_to "Terms", terms_path %></p>
          <p><%= link_to "Contact Us", root_path %></p>
      </div>
      <div class='medium-3 columns small-6 columns'>
        <h2>Insight</h2>
        <p><%= link_to "Home", root_path %></p>
          <p><%= link_to "About Us", about_path %></p>
          <p><%= link_to "Faq", faq_path %></p>
          <p><%= link_to "Terms", terms_path %></p>
          <p><%= link_to "Contact Us", root_path %></p>
      </div>
    </div>
  </div>
  <div class='bottom'>
    <div class='text-center'>
       <p>Copyright &copy; 2015 Job-Inbox. All rights reserved</p>
        <p>Made with <i class='fa fa-heart'></i> at <a href='http://inventivelabs.co' target='_blank'>Inventive Labs, LLC</a></p>
    </div>
  </div>
</footer>