<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Jobsmat: Get Hired! Jobs and Company review site" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : " Employers and Job Seekers Meetup " %>">
    <meta name="author" content="Said Maadan">
    <link href='https://fonts.googleapis.com/css?family=Enriqueta&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>

    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Oswald|Roboto', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/favicon.ico' %>
  </head>
  <body>
    <header class='fixed'>
      <%= render 'layouts/top_navigation' %>
    </header> 
    <div class="off-canvas-wrap docs-wrap" data-offcanvas="">
      <div class="inner-wrap">
 
        <header>
          <%= render 'layouts/navigation' %>
        </header> 
        <main role="main">
           <%= render 'layouts/messages' %>
           <%= yield %>
        </main>

        <a class="exit-off-canvas"></a>
        <%= render "layouts/footer" %>
      </div> 
    </div>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=201002786613241";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <ol class="joyride-list" data-joyride>
                  <li data-id="firstStop" data-text="Next" data-options="tip_location: top; prev_button: false">
                    <p>Hello and welcome to the Joyride <br>documentation page.</p>
                  </li>
                </ol>
  </body>
</html>

<%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
